.country {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white; /* Fondo azul claro */
  padding: 20px;
  box-sizing: border-box;
}

.country-container {
  background-color: #b3e5fc; /* Azul claro */
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease;
}

.country-container:hover {
  transform: scale(1.05);
}

.country-container h2 {
  font-size: 2.3em;
  margin-bottom: 20px;
  color: #0288d1; 
}

.team-flag {
  border-radius: 8px;
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 15px;
  border: 4px solid #0288d1; /* Azul más oscuro */
  transition: transform 0.3s ease;
}

.team-flag:hover {
  transform: rotate(10deg);
}

.country-info {
  text-align: left;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.country-info p {
  margin: 8px 0;
  color: #01579b; 
}

.label {
  font-weight: bold;
  color: #01579b; 
}

@media (max-width: 600px) {
  .country-container {
    padding: 15px;
  }

  .country-container h2 {
    font-size: 1.5em;
  }

  .team-flag {
    width: 120px;
    height: 80px;
  }
}
